# Installation
!Gemfile.lock

bin/
tmp/

# Logs
log/

# DB stuff
db/*.sqlite

# Application processes
/.overmind*

# Application settings
/.env
!/.env*-*

# Tests
/spec/examples.txt
/coverage

# Assets
/public/uploads
/data

/.bundle
